 * {
   margin: 0;
   padding: 0;
 }

 body {
   padding: 10px;
 }

 #screen {
   width: 620px;
   height: 620px;

   border: 1px solid;
 }

 #screen:hover {
   box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
 }